<tr hx-trigger='cancel' class='editing' th:attr="hx-get='/web/messages/' + ${message.id} + '?page=' + ${page}">
    <td>
        <label><input name="messageTitle" type="text" th:value="${message.messageTitle}" style="width: 200px;"/></label>
    </td>
    <td>
         <label><textarea name="messageBody" rows="4" cols="50" th:text="${message.messageBody}"></textarea></label>
    </td>
    <td>
        <label>
            <input type="checkbox" name="isPublic" th:checked="${message.isPublic}"/>
            <span th:text="#{makepublic}"></span>
        </label>
    </td>
    <td>
        <button class="btn btn-danger" th:attr="hx-get='/web/messages/' + ${message.id}"
                hx-ext="data-th-text" data-th-text="#{cancel}">
            Cancel
        </button>
    </td>
    <td>
        <form th:action="@{/web/messages/{id}/edit(page=${page}, id=${message.id})}" method="post" >
        <button class="btn btn-danger" th:attr="hx-put='/web/messages/' + ${message.id} + '?page=' + ${page}"
                hx-include="closest tr" hx-ext="data-th-text" data-th-text="#{update.message}">
            Update
        </button>
        </form>
    </td>
</tr>
