<tr>
    <td th:text="${message.messageTitle}">Title</td>
    <td class="message_body">
        <span th:text="${message.messageBody}"> </span>
    </td>
    <td>
        <a th:href="@{/web/userMessages(userId=${message.user?.id})}">
            <span th:text="${message.user.userName}">Jane Doe</span>
        </a>
    </td>
    <td th:text="${message.createdDate}">2020-01-01</td>
    <td>
                <span th:if="${message.lastModifiedDate != null}"
                      th:text="${message.lastModifiedDate} + ' ' + #{editedby} + ': ' + ${message.lastModifiedBy}"></span>
        <div th:if="${message.user?.id} == ${loggedInUser?.id}">
            <form th:action="@{/web/messages/{id}/edit(page=${page}, id=${message.id})}" method="post"
                  th:attr="hx-post='/web/messages/' + ${message.id} + '/edit?page=' + ${page}">
                <button class="btn btn-danger" type="submit" hx-ext="data-th-text" data-th-text="#{editmessage}">
                    Edit
                </button>
            </form>
        </div>
    </td>
    <td>
        <a th:if="${message.messageLanguage != null and message.messageLanguage.equals('sv')}"
           th:text="#{translatetoenglish}"
           th:href="@{/web/translation/{messageId}(messageId=${message.id})}"></a>
        <a th:if="${message.messageLanguage != null and message.messageLanguage.equals('en')}"
           th:text="#{translatetoswedish}"
           th:href="@{/web/translation/{messageId}(messageId=${message.id})}"></a>
    </td>
</tr>