<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Add a message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('create?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
<div class="menu">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en">English</option>
        <option value="sv">Svenska</option>
    </select>
    <a id="logout_link" th:href="@{'/logout?lang=' + ${lang}}" th:text="#{logout}"></a>
</div>
<div class="content">
    <h1 th:text="#{new.message}">Message</h1>
    <form action="#" th:action="@{/web/create}" th:object="${formData}" method="post">

            <input id="messageTitle" type="text" th:field="*{messageTitle}" th:placeholder="#{title}"/>
        <p th:if="${#fields.hasErrors('messageTitle')}"
           th:text="${#strings.listJoin(#fields.errors('messageTitle'), ', ')}"></p>
        <br><br>
            <textarea id="messageBody" th:field="*{messageBody}" th:placeholder="#{message}" cols="100" rows="6"></textarea>
        <p th:if="${#fields.hasErrors('messageBody')}"
           th:text="${#strings.listJoin(#fields.errors('messageBody'), ', ')}"></p>

        <p><input type="submit" th:value="#{post}"/> <input type="reset" th:value="#{reset}"/></p>
    </form>
</div>
</body>
</html>
