<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('home?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
<div class="menu">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value="en"></option>
        <option value="en">English</option>
        <option value="sv">Svenska</option>
    </select>
</div>
<div class="content" id="home">
    <h1 th:text="#{greeting}">Welcome</h1>
    <a th:href="@{/web/messages}" th:text="#{login}">Login</a>
    <a th:text="#{guest}">Continue as Guest</a>


</div>

</body>
</html>