<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('home?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
<div class="menu">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value="en"></option>
        <option value="en">English</option>
        <option value="sv">Svenska</option>
    </select>
    <a th:href="@{/web/messages}" th:text="#{login}" id="login_link">Login</a>
</div>
<h1 th:text="#{greeting}" id="home">Welcome</h1>
<div class="content">
    <h2 th:text="#{messagelist}"></h2>
    <table th:if="${not messages.isEmpty()}">
        <thead>
        <tr>
            <th th:text="#{message.title}" ></th>
            <th th:text="#{message.body}" class="message_body"></th>
            <th th:text="#{message.user}"></th>
            <th th:text="#{message.date}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.messageTitle}" >Title</td>
            <td th:text="${message.messageBody}" class="message_body">Lorum ipsum</td>
            <td th:text="${message.user.getUserName()}">Jane Doe</td>
            <td th:text="${message.createdDate}">2020-01-01</td>
        </tr>
        </tbody>
    </table>

    <p th:unless="${not messages.isEmpty()}">No messages found.</p>
</div>>

</body>
</html>