<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <title>Messages</title>
</head>
<body>
<div class="menu">
    <a class="menu_link" th:href="@{'/swagger-ui/index.html'}">Endpoints</a>
    <a class="menu_link" th:href="@{${httpServletRequest.requestURI} + '?page=' + ${page} + '&lang=en'}">English</a>
    <a class="menu_link" th:href="@{${httpServletRequest.requestURI} + '?page=' + ${page} + '&lang=sv'}">Svenska</a>
    <a class="menu_link" id="logout_link" th:href="'/logout'" th:text="#{logout}"></a>
</div>

<h1 th:text="#{greeting}" id="home">Welcome</h1>
<div class="post">
    <a href="/web/create" th:text="#{postmessage}"></a>
</div>
<div class="content">
    <h2 th:text="#{messagelist}"></h2>
    <table th:if="${not messages.isEmpty()}">
        <thead>
        <tr>
            <th th:text="#{message.title}"></th>
            <th th:text="#{message.body}" class="message_body"></th>
            <th th:text="#{message.user}"></th>
            <th th:text="#{message.date}"></th>
            <th th:text="#{message.newdate}"></th>
            <th th:text="#{message.translate}"></th>
        </tr>
        </thead>

        <tbody hx-target="closest tr" hx-swap="outerHTML">
        <tr th:each="message : ${messages}">

            <td th:text="${message.messageTitle}">Title</td>
            <td class="message_body">
                <span th:text="${message.messageBody}"> </span>
            </td>
            <td>
                <a th:href="@{/web/userMessages(userId=${message.user?.id})}">
                    <span th:text="${message.user.userName}">Jane Doe</span>
                </a>
            </td>
            <td th:text="${message.createdDate}">2020-01-01</td>
            <td>
                <span th:if="${message.lastModifiedDate != null}"
                      th:text="${message.lastModifiedDate} + ' ' + #{editedby} + ': ' + ${message.lastModifiedBy}"></span>
                <p id="edit" th:if="${message.user?.id} == ${loggedInUser?.id}">
                    <button class="btn btn-danger"
                            th:attr="hx-post='/web/messages/' + ${message.id} + '/edit?page=' + ${page}"
                            hx-trigger="edit"
                            hx-ext="data-th-text" data-th-text="#{editmessage}"
                            onclick="let editing = document.querySelector('.editing');
                    if (editing) {
                        Swal.fire({
                            title: 'Already Editing',
                            showCancelButton: true,
                            confirmButtonText: 'Yep, Edit This Row!',
                            text: 'Hey! You are already editing a row! Do you want to cancel that edit and continue?'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                htmx.trigger(editing, 'cancel');
                                htmx.trigger(this, 'edit');
                            }
                        });
                    } else {
                        htmx.trigger(this, 'edit');
                    }">
                        Edit
                    </button>
                </p>
            </td>
            <td>
                <a th:if="${message.messageLanguage != null and message.messageLanguage.equals('sv')}"
                   th:text="#{translatetoenglish}"
                   th:href="@{/web/translation/{messageId}(messageId=${message.id})}"></a>
                <a th:if="${message.messageLanguage != null and message.messageLanguage.equals('en')}"
                   th:text="#{translatetoswedish}"
                   th:href="@{/web/translation/{messageId}(messageId=${message.id})}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:unless="${not messages.isEmpty()}">No messages found.</p>
    <p id="pagination_buttons">
    <p>
        <span th:text="#{page} + ': '"></span>
        <span id="page_number"></span>
    </p>
    <button id="prev_button">Previous</button>
    <button id="next_button">Next</button>
    </p>
</div>
<script>

    let currentPage = 0;


    function updatePageNumber() {
        document.getElementById('page_number').textContent = (currentPage + 1);
    }


    function nextPage() {
        currentPage++;
        updatePageNumber();

        window.location.href = "?page=" + currentPage;
    }


    function previousPage() {
        if (currentPage > 0) {
            currentPage--;
            updatePageNumber();

            window.location.href = "?page=" + currentPage;
        }
    }


    document.getElementById('next_button').addEventListener('click', nextPage);


    document.getElementById('prev_button').addEventListener('click', previousPage);


    const urlParams = new URLSearchParams(window.location.search);
    let pageParam = urlParams.get('page');
    if (pageParam !== null && !isNaN(pageParam) && pageParam > 0) {
        currentPage = parseInt(pageParam);
    }
    updatePageNumber();

</script>
</body>
</html>