<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Messages</title>
</head>
<body>
<div>
    <a href="http://localhost:8080/web/messages?lang=en">English</a>
    <a href="http://localhost:8080/web/messages?lang=sv">Svenska</a>
    <a th:href="@{'/logout?lang=' + ${lang}}" th:text="#{logout}">Logout</a>
</div>
<div class="content">
    <h1 th:text="#{messagelist}"></h1>
    <table th:if="${not messages.isEmpty()}">
        <thead>
        <tr>
            <th th:text="#{message.title}"></th>
            <th th:text="#{message.body}"></th>
            <th th:text="#{message.user}"></th>
            <th th:text="#{message.date}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.messageTitle}">Title</td>
            <td th:text="${message.messageBody}">Lorum ipsum</td>
            <td th:text="${message.user.getUserName()}">Jane Doe</td>
            <td th:text="${message.date}">2020-01-01</td>
            <td>
                <a th:href="@{/web/update/{messageId}(messageId=${message.id})}">Update Message</a>
            </td>
        </tr>
        </tbody>
    </table>

    <p th:unless="${not messages.isEmpty()}">No messages found.</p>
</div>
<a href="/web/create" th:text="#{postmessage}"></a>
<!--<a href="/web/update" th:text="#{updatemessage}"></a>-->
</body>
</html>
