<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/static/main.css" rel="stylesheet"/>
    <title>Messages</title>
</head>
<body>
<div>
    <a href="http://localhost:8080/web/cats?lang=en">English</a>
    <a href="http://localhost:8080/web/cats?lang=sv">Svenska</a>
</div>
<div class="content">
    <h1>Message List</h1>
    <table th:if="${not messages.isEmpty()}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>User</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${messages}">
            <td th:text="${message.messageTitle}">Title</td>
            <td th:text="${message.messageBody}">Lorum ipsum</td>
            <td th:text="${message.user}">Jane Doe</td>
            <td th:text="${message.date}">2020-01-01</td>
        </tr>
        </tbody>
    </table>

    <p th:unless="${not messages.isEmpty()}">No messages found.</p>
</div>
</body>
</html>