<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Update a message</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                var messageId = $('#messageId').val(); // Retrieve message ID from hidden input
                if (selectedOption != '') {
                    window.location.replace('/web/update/' + messageId + '?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
<div class="menu">
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en">English</option>
        <option value="sv">Svenska</option>
    </select>
    <a id="logout_link" th:href="@{'/logout?lang=' + ${lang}}" th:text="#{logout}"></a>
</div>
<div class="content">
    <h1 th:text="#{update.message}">Message</h1>

    <form th:action="@{'/web/update/' + ${messageId}}" th:object="${formData}" method="POST">
        <input type="hidden" id="messageId" name="messageId" th:value="${messageId}"/>
            <input id="messageTitle" type="text" th:field="*{messageTitle}" th:value="${originalMessage.messageTitle}"/>
        <p th:if="${#fields.hasErrors('messageTitle')}"
           th:text="${#strings.listJoin(#fields.errors('messageTitle'), ', ')}"></p>
        <br><br>
            <textarea id="messageBody" th:field="*{messageBody}" cols="100" rows="6"
                      th:value="${originalMessage.messageBody}"></textarea>
        <p th:if="${#fields.hasErrors('messageBody')}"
           th:text="${#strings.listJoin(#fields.errors('messageBody'), ', ')}"></p>
        <input type="checkbox" th:field="*{makePublic}" id="makePublic"/>
        <label for="makePublic" th:text="#{makepublic}">Make Public</label>

        <p><input type="submit" th:value="#{update}"/> <input type="reset" th:value="#{reset}"/></p>
    </form>
</div>
</body>
</html>
