<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>
<div class="menu">
    <a class="menu_link" th:href="@{'/swagger-ui/index.html'}">Endpoints</a>
    <a class="menu_link" th:href="@{${httpServletRequest.requestURI} + '?lang=en'}">English</a>
    <a class="menu_link" th:href="@{${httpServletRequest.requestURI} + '?lang=sv'}">Svenska</a>
    <a class="menu_link" id="logout_link" th:href="'/logout'" th:text="#{logout}"></a>
</div>
<div class="content">
    <h2 th:text="#{messagelist}"></h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{message.title}"></th>
            <th th:text="#{message.body}" class="message_body"></th>
            <th th:text="#{message.user}"></th>
            <th th:text="#{message.date}"></th>
            <th th:text="#{message.newdate}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="message : ${userMessages}">
            <td th:text="${message.messageTitle}">Title</td>
            <td th:text="${message.messageBody}" class="message_body">Lorum ipsum</td>
            <td th:text="${message.user.userName}">jane doe</td>
            <td th:text="${message.createdDate}">2020-01-01</td>
            <td> <span th:if="${message.lastModifiedDate != null}" th:text="${message.lastModifiedDate}
                       + ' ' + #{editedby} + ': ' + ${message.lastModifiedBy}"></span>
            </td>

        </tr>
        </tbody>
    </table>
    <p th:unless="${not userMessages.isEmpty()}">No messages found for this user.</p>
    <div id="back_to_messagelist">
        <a th:href="@{/web/messages}" class="btn btn-primary" th:text="#{messagelist}"></a>
    </div>
</div>

</body>
</html>