.content {
    width: 80%;
    margin: auto;
    padding-top: 4em;
}

.menu {
   text-align: right;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    text-align: left;
    background-color: #D6EEEE;

}

body {
    padding: 3em;
    font-family: "Calibri Light";
}

.container {
    text-align: center;
    margin-top: 2em;
}

#logout_link {
    margin-left: 1em;
}

