body {
    padding: 3em;
    font-family: "Calibri Light";
}

.content {
    width: 95%;
    margin: auto;
    padding-top: 2em;
}

.menu {
    text-align: right;
}


table, th, td {
    table-layout: fixed;
    border: 1px solid #ccc;
    border-collapse: collapse;
    vertical-align: top;
}

#edit {
    padding: 0.3em 0 0 0;
    margin: 0;
}

th, td {
    padding: 15px;
}

.message_body {
    width: 35%;
    vertical-align: top;
}

th {
    color: white;
    text-align: left;
    background-color: #04AA6D;

}


.post {
    text-align: center;
    margin-top: 3em;
}


#logout_link,
#login_link {
    margin-left: 1em;
}

#back_to_messagelist {
    padding-top: 1.5em;
}

#home {
    text-align: center;
}

.checkbox {
    padding-bottom: 1.5em;
}

input[type=button], input[type=submit], input[type=reset], button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 12px 18px;
    margin: 4px
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover {
    background-color: #f2f2f2;
    color: black;
    border: 1px solid #ccc;
    radius: 4px;
}

input[type=text], #messageBody {
    width: 80%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#pagination_buttons {
    margin-top: 1.5em;
}

#prev_button {
    margin-left: 0;
}


